@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
    background-color: #aab6c8;
    margin: 0;
    padding: 0;
    border: none;
}

.logo h1 {
    font-size: 200%;
}

header {
    font-family: 'Amatic SC', cursive;
    font-size: 200%;
    padding: 0px 0px 0px 0px;   
    margin: 0px 0px 0px 0px;    
    border: black 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;   
}


header a {
    text-decoration: none;
    color: black;;
}

header a:hover {
    color: red;
}




header a {
    text-decoration: none;
    color: black;
}

.navigation {
    font-size: 120%;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
}

.navigation li {
    list-style-type: none;
    display: inline;
}

.main {
    height:80vh;
    border: 1px black solid;
    background: url(/assets/images/pexels-blue-bird-7210754.jpg) no-repeat fixed center; 
    opacity: 0.6;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info {
    width: 30%;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 20px;
}

.footer-container {
    margin: auto;
    width: 100%;
    padding: 40px 0px 0px 0;
    border-top: 1px black solid;
}

.social {
    text-align: center;
}

.social li {
    display: inline;
    padding: 40px;
}

.social a {
    text-decoration: none;
    color: black;
}

.social a:hover {
    color: red;
}