@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
    background-color: #aab6c8;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Amatic SC', cursive;
}

.logo h1 {
    font-size: 200%;
}

/* .fixedElement {
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
} */

header {
    font-family: 'Amatic SC', cursive;
    font-size: 200%;
    padding: 10px;   
    margin: 0px 0px 0px 0px;    
    border: black 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;   
}


header a {
    text-decoration: none;
    color: black;;
}

header a:hover {
    color: red;
}


header a {
    text-decoration: none;
    color: black;
}

.navigation {
    font-size: 70%;
    text-transform: uppercase;
    padding-right: 50px;
}

.navigation li {
    list-style-type: none;
    display: inline;
    word-spacing: 10px;
}

#book {
    width: auto;
    height: 100vh;
    background-color: rgb(151, 223, 113);
}

#events {
    width: auto;
    height: 100vh;
    background-color: rgb(87, 99, 164);
}

#contact {
    width: auto;
    height: 100vh;
    background-color: rgb(131, 62, 98);
}

.content {
    background-color: blue;
    width: 100px;
    height: 10px;
}

.footer-container {
    margin: auto;
    width: 100%;
    padding: 40px 0px 0px 0;
    border-top: 1px black solid;
}

.social {
    text-align: center;
}

.social li {
    display: inline;
    padding: 40px;
}

.social a {
    text-decoration: none;
    color: black;
}

.social a:hover {
    color: red;
}